{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

 <div class="container-full">
 
   <h1>{{ this.index }}</h1>

  <ul class="blog-index">
      {% for post in this.pagination.items %}
      <li>
      <a href="{{ post|url }}">{{ post.title }}</a> —
      by {{ post.author }} 
      on {{ post.pub_date }}
      </li>
      {% endfor %}
  </ul>

  {% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
  {% endif %}
 </div><!-- div class="container-full"--> 
{% endblock %}
